*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    background-color: rgb(43, 42, 42);
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    justify-content:baseline;
}
.Titulo{
    color: rgb(96, 96, 255);
    font-size: 40px;
    margin-left: 50px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu{
    text-decoration: none;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 25px;
    color:rgb(96, 96, 255) ;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 3px;
    transition: ease-in-out 0.35s;
    margin-top: 2%;
}
.menu:first-child{
    margin-left: 50px;
}

.menu::after{
    content:  "  ";
    width: 100%;
    height: 0;
    background-color: white;
    position: absolute;
    bottom: 0px;
    transition: ease-in-out 0.35s;
    border-radius: 10px;
}

.menu:hover::after{
    height: 4px;
}
.menu:hover{
    color: white;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-name: pulsar;
}
@keyframes pulsar{
    0%{
        transform: scale(80%);
    }
    100%{
        transform: scale(100%);
    }
}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 40px;
    position: relative;
}
.card{
    background-color: rgb(255, 163, 57);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-name: pulsar;
}
.card:hover{
    animation-name: pulsar;
    animation-iteration-count: 0;
}
.card img{
    width: 220px;
    height: 150px;
    margin-left: 15px ;
    margin-top: 10px;
}
.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 40%;
}
.produto-nome{
    font-size: 1.2rem;
}
.qualidades{
    font-size: 0.9rem;
}
.bcompra{
    background-color: red;
    color: yellow;
    height: 40px;
    padding: 0;
    width: 70%;
    border-radius: 30px;
    transition: ease-in-out 0.5s;
    font-size: 20px;
    border: solid 2px;
    box-shadow: 4px 4px 8px black;
    
}
.bcompra:hover{
    color: rgb(96, 96, 255);
    background-color: white;
    transform: rotatez(360deg);
    scale: 80%;
    font-weight: 700;

}
.bcompra:active{
    scale: 90%;
    transition: ease-in-out 0.1s;
}
.produtos{
    width: 260px;
    height: 260px;
    box-shadow: 6px 6px 10px black;
    
}
.lista-coisas{
    display: grid;
    grid-template-columns: repeat(auto-fill,260px 260px 260px 260px);
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
    background-color: rgb(57, 57, 57);
}
.coisas-items{
    padding: 0;
    position: relative;
    cursor: auto;
    background: none;

}
footer{
    background-color: rgb(43, 42, 42);
    display: flex;
    height: 250px;
    align-items: center;  
}
form{
    margin-left: 50px;
    color: rgb(96, 96, 255);
}
label{
    display: block
}
.coment{
    height: 20px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid;
    flex-wrap: wrap;
}
.mail{
    width: 400px;
    border-radius: 5px;
    border: 1px solid;
    height: 20px;
}
.env{
    display: block;
    margin-top: 6px;
    margin-left: 180px;
}
.lscont{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: auto;
    color: rgb(96, 96, 255);
    justify-content: center;
    gap: 10px;
}
.contatos{
    display: flex;
    font-size: 26px;
    flex-direction: row;
    transition: 0.5s;
}
.contatos:hover{
    scale: 140%;
}
main{
    background-image: url("https://online-learning-college.com/wp-content/uploads/2022/05/Classifying-stars-by-colour.jpg");
    background-repeat: no-repeat;
}
.b2compra{
    color: rgb(0, 0, 0);
    background-color: rgb(101, 155, 255);
    border-radius: 10px;
    width: 150px;  
    margin-left: 20%;
    transition: ease-in-out 0.06s;
    cursor: pointer;
    transition: 0.4s;
    border: solid 3px;
    box-shadow: 3px 3px 10px black;
}
.b2compra:active{
    transform: rotatex(360deg);
    background-color: white;
    transition: ease-in-out 0.06s;

}
.b2compra:hover{
    scale: 105%;
}
span{
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.prom{
    position: absolute;
    top: 10%;
    color: rgb(101, 155, 255);
    font-size: 40px;
}
.banner{
    height: 450px;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    background-color: rgb(37, 35, 73);
}
.imbanner{
    height: 300px;
    object-fit: cover;
}

.env{
    border: solid 1px;
    border-color: black;
    color: rgb(96, 96, 255);
    background-color: rgb(59, 59, 59);
    font-size: 15px;
    padding: 8px;
    border-radius: 20px;
    transition: ease-in-out 0.35s;
}
.env:hover{
    background-color: white;
    scale: 120%;
}
@media (max-width:500px){
    *{
        width: 500px;
    }
    .cadr{
        animation: pulsar;
        animation-iteration-count: 0;

       }
       .b2compra:hover{
        transform: rotateX(0deg);
       }
       .banner{
        scale: 100%;
        height: 200px;
        justify-content: center;
        
       }
       header{
        position: relative;
        height: 30px;
        width: 100%;
       }
       .Titulo{
        margin-left: 0;
        display: flex;
        font-size: 20px;
        margin-top: 3%;
        margin-left: 2%;
       }
       .menu{
        font-size: 8px;
        justify-content: center;
        width: 30px;
        margin-top: 8%;
       }
       .menu:first-child{
        margin-left: 20%;
       }
       ul{
        width: 100%;
        gap: 20px;
        scale: 100%;
        justify-content: center;
        align-items: center;
       }
       .card{
        width: 200px;
        height: 26WS0px;
        animation-name: pulsar;
        animation-iteration-count: 0;
       }
       .card img{
        width: 190px;
        height: 90px;
        margin-left: 6px
       }
       .bcompra{
        width: 180px;
    
    
       }
    
}